#works {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.workDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
}

.worksImg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}
.image-container {
  position: relative;
  display: inline-block;
}

a:hover .text-popup {
  display: block;
}

.text-popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Hide the text initially */
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.workImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
}

.worksBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 2rem;
  background: white;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and(max-width:585px) {
  .worksImg {
    height: 48vw;
  }
}
